* {
	font-size: 13px;
	color: #d4be98;
	font-weight: 500;
	font-family: "JetBrainsMono Nerd Font Regular" , "JetBrainsMono NFP" ;
	margin: 0;
	padding: 0;
}
.yasb-bar {
	padding: 0;
	margin: 0 0px;
background-color: #282828;
}
.widget {
	padding: 0 4px;
	margin: 0 0px;
color: #d4be98;
}
.widget .label {
	padding-bottom: 2px;
color: #d4be98;
}
.widget .label:hover {
    color: #fff;
}



.volume-slider {
  border: none;
}
.volume-slider::groove {}
.volume-slider::handle{}
.audio-menu {
  background-color:rgba(17, 17, 27, 0.4);
}
.container-left,
.container-center,
.container-right {
	margin: 0;
	padding: 0;
}

.komorebi-workspaces .ws-btn {
	border-radius: 0px;
	font-size: 10px;
	width: 10px;
	height: 10px;
	margin: 0 4px 0 4px;
	color: #45403d;
	background-color: #45403d;
}
.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover {
	background-color: #fff;
color: #d4be98;
}
.komorebi-workspaces .ws-btn.populated {
	background-color: #d4be98;
color: #d4be98;
}
.komorebi-workspaces .ws-btn.active {
	background-color: #d4be98;
	color: #d4be98;
	width: 26px;
}
.search-widget {
    padding: 0 8px;
}
.search-widget .label {
	padding: 0 0px 0 5px;
}

/* --- Power Menu Popup --- */
/* Uptime text */
.uptime {
	font-size: 12px;
	margin: 0 0 4px;
  }
  .power-menu-widget .label {
	font-size: 14px;
	margin-left: 0px;
  }
  .power-menu-popup {
	background-color: rgba(2, 2, 2, 0.466);
	border-radius: 12px;
	border: 0px solid rgb(0, 0, 0);
  }
  .power-menu-popup .button {
	padding: 0;
	width: 200px;
	height: 160px;
	border-radius: 4px;
	background-color: rgba(66, 66, 68, 0.247);
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: 4px;
  }
  
  
  .power-menu-popup .button.hover {
	background-color: rgb(64, 64, 68);
	border: 1px solid rgb(26, 26, 27);
  }
  .power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.425);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .power-menu-popup .button .icon {
	font-size: 72px;
	padding-top: 20px;
	color: rgba(255, 255, 255, 0.25);
  }
  .power-menu-popup .button.cancel .icon {
	color: rgba(139, 201, 243, 0.568);
  }
  .power-menu-popup .button.cancel .label {
	color: rgba(139, 201, 243, 0.568);
  }
  .power-menu-popup .button.shutdown .icon {
	color: rgba(255, 9, 9, 0.685);
  }
  .power-menu-popup .button.shutdown .label {
	color: rgba(255, 9, 9, 0.685);
  }


  .wallpapers-widget {
	padding: 0 7px 0 7px;
  }
  .wallpapers-gallery-window {
	background-color: rgba(85, 42, 240, 0.01);
	border: 0;
	margin: 0;
  }
  .wallpapers-gallery-buttons {
	background-color:rgba(255, 255, 255, 0);
	color:var(--text);
	border: none;
	font-size: 16px;
	padding: 8px 0;
	border-radius: 8px;
	margin:0 8px 8px 8px;
	width: 600px;
  }
  .wallpapers-gallery-buttons:hover {
	background-color:rgba(255, 255, 255, 0.1)
  }
  .wallpapers-gallery-image {
	border: 4px solid transparent;
	border-radius: 10px;
  
  }
  .wallpapers-gallery-image:hover {
	border: 4px solid var(--sapphire);
  }
  .wallpapers-gallery-image.focused {
	border: 4px solid var(--sapphire);
  
  }
